* {
  margin: 0;
  top: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

.navigation {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.navigation .navbar {
  width: 500px;
}
.navigation .navbar ul {
  display: flex;
  justify-content: space-between;
}
.navigation .navbar ul li {
  color: white;
  font-size: 20px;
}

.first_page {
  background-image: url("../img/mainphoto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first_page .maintext {
  color: white;
  font-size: 50px;
  text-align: center;
}
.first_page .maintext span {
  color: black;
}
.first_page .maintext h4 {
  color: black;
}
.first_page .fugures {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 15px;
}
.first_page .fugures .cricle {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
}
.first_page .fugures .cricle .icon {
  width: 60px;
  height: 60px;
}
.first_page .fugures .cricle .location {
  font-size: 60px;
  color: pink;
}

.preparation .total_div {
  display: flex;
}
.preparation .total_div .left_part .question h1 {
  font-size: 70px;
  text-align: left;
  word-break: keep-all;
  margin-left: 100px;
  margin-top: 40px;
  word-spacing: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.preparation .total_div .left_part .tohum {
  width: 350px;
  text-align: left;
  word-break: keep-all;
  margin-left: 100px;
  margin-top: 40px;
  font-size: 18px;
}
.preparation .total_div .left_part .tohum h4 {
  margin-top: 20px;
  color: rgb(134, 106, 83);
}
.preparation .total_div .left_part .tohum p {
  margin-top: 20px;
  font-style: italic;
}
.preparation .total_div .left_part .degirmen {
  text-align: left;
  word-break: keep-all;
  margin-left: 100px;
  margin-top: 80px;
  width: 400px;
  font-size: 18px;
}
.preparation .total_div .left_part .degirmen h4 {
  margin-top: 30px;
}
.preparation .total_div .left_part .degirmen p {
  margin-top: 20px;
  font-style: italic;
}
.preparation .total_div .left_part .degirmen img {
  margin-top: 20px;
}
.preparation .total_div .right_part {
  margin-right: 100px;
  margin-top: 400px;
  font-size: 18px;
}
.preparation .total_div .right_part .zehir {
  width: 400px;
}
.preparation .total_div .right_part .zehir img {
  margin-top: 20px;
}
.preparation .total_div .right_part .zehir h4 {
  color: rgb(63, 54, 54);
  margin-top: 20px;
}
.preparation .total_div .right_part .zehir p {
  margin-top: 20px;
  font-style: italic;
}
.preparation .total_div .right_part .sariqab {
  width: 370px;
  margin-top: 60px;
}
.preparation .total_div .right_part .sariqab img {
  margin-top: 20px;
}
.preparation .total_div .right_part .sariqab h4 {
  margin-top: 20px;
}
.preparation .total_div .right_part .sariqab p {
  margin-top: 20px;
  font-style: italic;
}

.smit {
  background-image: url("../img/smit.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.smit .texts {
  text-align: center;
}
.smit .texts h4 {
  margin-top: 40px;
  font-size: 29px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.smit .texts h1 {
  font-size: 100px;
  width: 800px;
  margin-top: 40px;
}

.footer {
  width: 100%;
  height: 30vh;
  background-color: black;
}
.footer .footer_nav ul {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}
.footer .footer_nav ul li {
  color: white;
  margin: 30px;
}
.footer .footer_nav ul li a {
  font-size: 15px;
}
.footer .text_epppek_footer {
  justify-content: center;
  color: white;
  display: flex;
  gap: 20px;
}
.footer .text_epppek_footer .insta {
  font-size: 30px;
}
.footer .text_epppek_footer p {
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */